

# Pandas (1)

# Подкачка библиотеки и гитхаба

In [ ]:
import pandas as pd

In [ ]:
# Clone the entire repo.
!git clone -l -s https://github.com/BNik2001/Big-data-processing-technologies.git Big-data-processing-technologies
!ls

Cloning into 'Big-data-processing-technologies'...
warning: --local is ignored
remote: Enumerating objects: 92, done.
remote: Counting objects: 100% (92/92), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 92 (delta 18), reused 57 (delta 8), pack-reused 0
Unpacking objects: 100% (92/92), done.
Big-data-processing-technologies  sample_data

In [ ]:
# Clone the entire repo.
!git clone -l -s https://github.com/BNik2001/Big-data-processing-technologies.git
%cd /content/Big-data-processing-technologies/Pandas/sem/data
!ls

fatal: destination path 'Big-data-processing-technologies' already exists and is not an empty directory.
/content/Big-data-processing-technologies/Pandas/sem/data
recipes_sample.csv  reviews_sample.csv	sp500hst.txt  sp_data2.csv

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
data = pd.read_csv('sp500hst.txt', sep=",", header=None)
data.columns = ["date", "ticker", "open", "high", "low", "close", "volume"]
data.head()

       date ticker   open     high     low  close  volume
0  20090821      A  25.60  25.6100  25.220  25.55   34758
1  20090824      A  25.64  25.7400  25.330  25.50   22247
2  20090825      A  25.50  25.7000  25.225  25.34   30891
3  20090826      A  25.32  25.6425  25.145  25.48   33334
4  20090827      A  25.50  25.5700  25.230  25.54   70176

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
print("среднее по open: ", data['open'].mean())
print("среднее по high	: ", data['high'].mean())
print("среднее по low: ", data['low'].mean())
print("среднее по close: ", data['close'].mean())

среднее по open:  42.5954576590471
среднее по high	:  43.10224338767034
среднее по low:  42.054463665213184
среднее по close:  42.60186484817329

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
data['date'] = pd.to_datetime(data['date'],format='%Y%m%d', errors='ignore')
data["day"] =data['date'].dt.day
data.head()

        date ticker   open     high     low  close  volume  mounth  day
0 2009-08-21      A  25.60  25.6100  25.220  25.55   34758      21   21
1 2009-08-24      A  25.64  25.7400  25.330  25.50   22247      24   24
2 2009-08-25      A  25.50  25.7000  25.225  25.34   30891      25   25
3 2009-08-26      A  25.32  25.6425  25.145  25.48   33334      26   26
4 2009-08-27      A  25.50  25.5700  25.230  25.54   70176      27   27

## Лабораторная работа №2.1

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [ ]:
recipes = pd.read_csv('recipes_sample.csv')
reviews= pd.read_csv('reviews_sample.csv')
recipes.head(-10)

                                                    name  ...  n_ingredients
0                  george s at the cove  black bean soup  ...           18.0
1                     healthy for them  yogurt popsicles  ...            NaN
2                           i can t believe it s spinach  ...            8.0
3                                   italian  gut busters  ...            NaN
4               love is in the air  beef fondue   sauces  ...            NaN
...                                                  ...  ...            ...
29985  zucchini  pineapple  ginger jam kicked up with...  ...            8.0
29986                 zucchini  potato and herb fritters  ...           12.0
29987    zucchini carrot cake with cream cheese frosting  ...           15.0
29988                            zucchini carrot muffins  ...           13.0
29989                         zucchini cheddar casserole  ...            8.0

[29990 rows x 8 columns]

In [ ]:
reviews.head(-10)

        Unnamed: 0  ...                                             review
0           370476  ...  Last week whole sides of frozen salmon fillet ...
1           624300  ...  So simple and so tasty!  I used a yellow capsi...
2           187037  ...  Very nice breakfast HH, easy to make and yummy...
3           706134  ...  These are a favorite for the holidays and so e...
4           312179  ...  Excellent soup!  The tomato flavor is just gre...
...            ...  ...                                                ...
126681     1016683  ...  looks like a good recipe but i think i made it...
126682      532061  ...  If only there were more stars to give! Normall...
126683     1073005  ...  this receipe is excellent. I made a few adjust...
126684      698638  ...  I must have done something wrong!  Mine were v...
126685      663966  ...  Rich, intense and quite a different combinatio...

[126686 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
recipes.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  object
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.8+ MB

In [ ]:
reviews.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126696 entries, 0 to 126695
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  126696 non-null  int64
 1   user_id     126696 non-null  int64
 2   recipe_id   126696 non-null  int64
 3   date        126696 non-null  object
 4   rating      126696 non-null  int64
 5   review      126679 non-null  object
dtypes: int64(4), object(2)
memory usage: 5.8+ MB

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
Null_stob_recipes = ((recipes.isna().sum())/ recipes.size)*100
Null_stob_recipes

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           4.662500
description       0.259583
n_ingredients     3.700000
dtype: float64

In [ ]:
Null_stob_reviews = ((reviews.isna().sum())/ reviews.size)*100
Null_stob_reviews

Unnamed: 0    0.000000
user_id       0.000000
recipe_id     0.000000
date          0.000000
rating        0.000000
review        0.002236
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
recipes.describe().T["mean"][1:]

minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
Name: mean, dtype: float64

In [ ]:
reviews.describe().T["mean"][2:]

recipe_id    160094.387060
rating            4.410802
Name: mean, dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
recipes["name"].sample(10)

4854                       carrot pecan butter cake
10225                  easy spaghetti and meatballs
23726            scrambled eggs with ricotta cheese
4069                                 buffalo shrimp
6504                    chocolate chip brownie cake
20551                             perfect hamburger
10740    fancy manchego mac and cheese with chorizo
3259                 blended agave nectar margarita
13647                    herbal mustard cream sauce
4944                  cauliflower soup from l islet
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews["Unnamed: 0"] = range(126696) 
reviews

        Unnamed: 0  ...                                             review
0                0  ...  Last week whole sides of frozen salmon fillet ...
1                1  ...  So simple and so tasty!  I used a yellow capsi...
2                2  ...  Very nice breakfast HH, easy to make and yummy...
3                3  ...  These are a favorite for the holidays and so e...
4                4  ...  Excellent soup!  The tomato flavor is just gre...
...            ...  ...                                                ...
126691      126691  ...  This recipe was great! I made it last night. I...
126692      126692  ...  This recipe is outstanding. I followed the rec...
126693      126693  ...  Well, we were not a crowd but it was a fabulou...
126694      126694  ...  I have been a steak eater and dedicated BBQ gr...
126695      126695  ...  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
recipes_20_minutes_5_n_ingredients= recipes[(recipes["minutes"]<= 20) & (recipes["n_ingredients"] <= 5)]
recipes_20_minutes_5_n_ingredients

                                                    name  ...  n_ingredients
28                                   quick biscuit bread  ...            5.0
60                         peas  fit for a king or queen  ...            5.0
90                     hawaiian sunrise           mimosa  ...            3.0
91            tasty dish s   banana pudding in 2 minutes  ...            4.0
94                                    1 minute meatballs  ...            2.0
...                                                  ...  ...            ...
29873  zip and steam red potatoes with butter and garlic  ...            5.0
29874                          ziplock vanilla ice cream  ...            3.0
29905                      zucchini and corn with cheese  ...            5.0
29980               zucchini with jalapeno monterey jack  ...            3.0
29983                          zucchini with serrano ham  ...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
pd.to_datetime(recipes['submitted'],format='%Y%m%d', errors='ignore')
recipes.head(10)

                                       name  ...  n_ingredients
0     george s at the cove  black bean soup  ...           18.0
1        healthy for them  yogurt popsicles  ...            NaN
2              i can t believe it s spinach  ...            8.0
3                      italian  gut busters  ...            NaN
4  love is in the air  beef fondue   sauces  ...            NaN
5                  mennonite  corn fritters  ...            NaN
6                      open sesame  noodles  ...           12.0
7                say what   banana sandwich  ...            NaN
8        1 in canada chocolate chip cookies  ...           11.0
9                    412 broccoli casserole  ...            NaN

[10 rows x 8 columns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes_until_2010 = recipes[recipes["submitted"] <'2010-01-1']
recipes_until_2010

                                               name  ...  n_ingredients
0             george s at the cove  black bean soup  ...           18.0
1                healthy for them  yogurt popsicles  ...            NaN
2                      i can t believe it s spinach  ...            8.0
3                              italian  gut busters  ...            NaN
4          love is in the air  beef fondue   sauces  ...            NaN
...                                             ...  ...            ...
29993                     zuni caf zucchini pickles  ...            8.0
29995  zurie s holey rustic olive and cheddar bread  ...           10.0
29996          zwetschgenkuchen  bavarian plum cake  ...           11.0
29997   zwiebelkuchen   southwest german onion cake  ...            NaN
29999        cookies by design   cookies on a stick  ...           10.0

[26173 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes["description_length"] =recipes["description"].str.len()
recipes

                                               name  ...  description_length
0             george s at the cove  black bean soup  ...               330.0
1                healthy for them  yogurt popsicles  ...               255.0
2                      i can t believe it s spinach  ...                39.0
3                              italian  gut busters  ...               154.0
4          love is in the air  beef fondue   sauces  ...               587.0
...                                             ...  ...                 ...
29995  zurie s holey rustic olive and cheddar bread  ...               484.0
29996          zwetschgenkuchen  bavarian plum cake  ...               286.0
29997   zwiebelkuchen   southwest german onion cake  ...               311.0
29998                                   zydeco soup  ...               648.0
29999        cookies by design   cookies on a stick  ...               125.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes["description"].str.title()

0        An Original Recipe Created By Chef Scott Meska...
1        My Children And Their Friends Ask For My Homem...
2                  These Were So Go, It Surprised Even Me.
3        My Sister-In-Law Made These For Us At A Family...
4        I Think A Fondue Is A Very Romantic Casual Din...
                               ...
29995    This Is Based On A French Recipe But I Changed...
29996    This Is A Traditional Fresh Plum Cake, Thought...
29997    This Is A Traditional Late Summer Early Fall S...
29998    This Is A Delicious Soup That I Originally Fou...
29999    I'Ve Heard Of The 'Cookies By Design' Company,...
Name: description, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [ ]:
recipes["name_word_count"] = recipes["name"].str.split().str.len()
recipes

                                               name  ...  name_word_count
0             george s at the cove  black bean soup  ...                8
1                healthy for them  yogurt popsicles  ...                5
2                      i can t believe it s spinach  ...                7
3                              italian  gut busters  ...                3
4          love is in the air  beef fondue   sauces  ...                8
...                                             ...  ...              ...
29995  zurie s holey rustic olive and cheddar bread  ...                8
29996          zwetschgenkuchen  bavarian plum cake  ...                4
29997   zwiebelkuchen   southwest german onion cake  ...                5
29998                                   zydeco soup  ...                2
29999        cookies by design   cookies on a stick  ...                7

[30000 rows x 10 columns]